
h1 {
    font-family: 'Passion One', cursive;
    background-color: var(--accent-color-two);
    background-image: linear-gradient(75deg,
        rgb(255, 181, 142) 0%,
        hsl(32deg 80% 75%) 2%,
        hsl(45deg 59% 68%) 5%,
        hsl(65deg 43% 61%) 11%,
        hsl(92deg 45% 62%) 23%,
        rgb(99, 152, 93) 56%,
        hsl(92deg 45% 62%) 75%,
        hsl(65deg 43% 61%) 84%,
        hsl(45deg 59% 68%) 91%,
        hsl(32deg 80% 75%) 96%,
        hsl(21deg 100% 82%) 100%);
    background-size: 600px 200px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 4rem;
    animation: rainbow 15s linear infinite; 
    background-position:0vw;
    text-shadow: 2px 2px 2px var(--accent-color-opacity);
}

h2 {
    opacity: .7;
    font-weight: 600;
}

@keyframes rainbow {
    0% {
        background-position:0vw;
    }
    50% {
        background-position:100vw;
    }
    100% {
        background-position:0vw;
    }
}

.portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 4px solid var(--box-shadow-color);
    border-radius: 50%;
    z-index: 1;
    filter: grayscale(80%);
    transition: all .5s;
}

.portrait img:hover {
    transform:scale(1.1);
    border: 10px solid var(--box-shadow-color);
}

#portrait {
    position: relative;
}

div.portrait {
    height: 220px;
    transition: all 0.3s ease-in-out;
    width: 220px;
    background: var(--background-color);
    border-radius: 50%;
}

div.portrait::after {
    position: absolute;
    top: 35px;
    left: 35px;
    display: block;
    content: ' ';
    width: 220px;
    height: 220px;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--portrait-background);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%238dbc8a' fill-opacity='0.61' fill-rule='evenodd'/%3E%3C/svg%3E");
}