header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%238dbc8a' fill-opacity='0.61' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: 10vh;
}

li { 
    list-style-type: none;
}

.selected > li {
    background: var(--links-color-two);
}

header li {
    font-weight: 700;
    padding: .2rem 1.5rem; 
    margin: 5px;
    color: var(--background-color);
    background-color: var(--accent-color-three);    
    /* text-shadow: 0px 0px 4px var(--accent-color-three); */
    box-shadow: 0px 0px 12px var(--box-shadow-color-two);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s;
    font-size: .9rem;
    padding: .2rem 1.1rem; 
}

header li:hover {
    color: var(--links-color-hover);
    box-shadow: 1px 1px 12px var(--box-shadow-color-three);
    cursor: pointer;
} 

ul { 
    display: contents; 
}

.switch {
    height: 25px;
    position: relative;
    background-color: var(--accent-color-three);
    border-radius: 34px;
    margin-right: .5em;
    cursor: pointer;
}
    
.theme-switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 52px;
    cursor: pointer;
}

.theme-switch input {
    display: none;    
}

.slider {
    background-color: var(--link-color);
    cursor: pointer;
    transition: .4s;
}

.slider:before {
    background-color: var(--background-color);
    bottom: 4px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 18px;
}

input:checked + .slider {
    background-color: var(--background-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (min-width: 500px) {
    header li {
        margin: auto 1em;
        font-size: 1rem;
        padding: .2rem 1.5rem; 
    }

    .switch {
        margin-right: 1.5em;
    }
}